                                                             /**********************************************
                                                                                GLOBAL 
                                                             **********************************************/


html,body
{
    font-family: Raleway, Helvetica, Arial, sans-serif;
}


a:link
{
    text-decoration: none;
    color: black;
}


ul
{
    list-style: none;
}

.page
{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}




                                                             /*********************************************** 
                                                                            SECTION HAUT DE PAGE
                                                            **********************************************/


                                                             /***********************************************
                                                                            NAVIGATION
                                                             **********************************************/

    .menu
    {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }

    .nav
    {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        width: 100%;
    }

    .bordure
    {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .taillediv
    {
        height: 99px;
    }

    .taillediv2
    {
        flex-shrink: 0;
    }

    a.survol
    {
        color: black;
    }

    a.survol2
    {
        color: #0065FC;
    }

    a.survol:hover
    {
        color : #0065FC;
    }

    .couleurbleue
    {
        color: #0065FC;
        margin-right: 10px;
    }


                                                             /*********************************************** 
                                                                          SECTION CORPS DE PAGE
                                                            **********************************************/



    .icon
    {
       width: 50px;
       height: 50px;
       background-color: #F2F2F2;
       display: flex;
       align-items: center;
       justify-content: center;
       border-radius: 10px 0px 0px 10px;
    }

    .search
    {
        height: 50px;
        width: 200px;
        font-size: 16px;
        color: black;
        font-weight: bold;
        display: flex;
        align-items: center;
        justify-content: center;
        border: none;
    }

    .bordurerech
    {
        border: none;
    }

    h3.soustitre
    {
        line-height: 0%;
        font-family: Raleway;
        font-weight: 200;
    }



                                                        /*********************************************** 
                                                                     FILTRES
                                                        **********************************************/



    .filtreTexteIcons:hover
    {
       background-color : #DEEBFF;
       color: #0065FC;
       cursor: pointer;
    }

    .filtreText
    {
       font-weight: bold;
       padding: 15px;
    }

    .propriete_icone
    {
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 25px;
        height: 50px;
        width: 50px;
        background-color: #deebff;
        color: #0065fc;
    }

    .fas.fa-money-bill-wave.propriete_icone
    {
        display: flex;
    }

    .fas.fa-child.propriete_icone
    {
        display: flex;
    }

    .fas.fa-heart.propriete_icone
    {
        display: flex;
    }

    .fas.fa-dog.propriete_icone
    {
        display: flex;
    }

                                                        /*********************************************** 
                                                                     Hebergements/populaires
                                                        **********************************************/

    .Texte
    {
        margin-left: 10px;
    }

    .EtoileBleu
    {
        color: #0065FC;
    }

    .EtoileGrise
    {
        color: #f2f2f2;
    }

    .espace_icone
    {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .column
    {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    .txtpop
    {
        margin-top: 30px;
    }


    .fond_blanc_populaire
    {
        display: flex;
        justify-content: center;
        height: auto;
        background-color: white;
        padding: 1% 0 1% 1%;
        border-radius: 20px;
        margin-bottom: 22px;
        cursor: pointer;
        margin-top: 20px;
    }


                                                            /********************************************** 
                                                                          VERSION MOBILE
                                                             **********************************************/


@media screen and (min-width: 375px) and (max-width: 767.98px)
{

                            /* MENU NAVIGATION */

   
    .menu
    {
        width: 100%;
        flex-wrap: wrap;
    }

    .nav
    {
        order: 1;
        width: 100%;
    }

    .borduremobile
    {
        width: 50%;
        border-bottom: 5px solid #f2f2f2;
    }

   .bhover:hover
    {
        border-bottom:  5px solid #0065fc;
    }


                        /* CORS DE PAGE (titre, recherche, filtres) */


    .fct_recherche
    {
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 10px;
        margin-top: 50px;
    }

    h3.soustitre
    {
        margin-left: 10px;
    }

    h1.Titre
    {
        margin-left: 10px;
    }

    .fondbleu
    {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #0065FC;
        width: auto;
    }

    .button
    {
        height: 50px;
        width: 50px;
        color: white;
        cursor: pointer;
        border-radius: 15px;
    }

    span.recherche
    {
        display: none;
    }



    .filtres
    {
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
        margin-top: 25px;
        margin-bottom: 50px;
    }

    .filtreTexteIconsmobile
    {
        justify-content: space-around;
        align-items: center;
    }

    .info
    {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 450px;
        height: 50px;
        margin-top: -10px;
        margin-left: -10px;
        margin-bottom: 25px;
    }

    .icon_info
    {
        border-radius: 25px;
        height: 25px;
        width: 25px;
        display: flex;
        border: 2px solid #f2f2f2;
        justify-content: center;
        align-items: center;
        color: #0065FC;
        margin-bottom: 30px;
        margin-left: 10px;
        margin-top: 10px;
    }

    .texteinfo
    {
        width: 75%;
        font-family: Raleway;
        margin-bottom: 30px;
        margin-left: 10px;
        margin-right: 60px;
        font-size: 17px;
    }

    .borduregrey
    {
        border: 0.1px solid #f2f2f2;
        width: 250px;
    }

    .titre_filtre
    {
        width: 100%;
        margin-right: 30px;
    }

    .filtreTexteIcons
    {
        display: flex;
        justify-content: center;
        align-items: center;
        border: 2px solid #f2f2f2;
        height: 50px;
        border-radius: 30px;
        margin-right: 10px;
        margin-top: 8px;
    }


    /*HEBGEREMENTS*/

    .section_logement
    {
        display: flex;
        justify-content: space-around;
        flex-direction: column-reverse;
        align-items: center;
    }

    .zone_populaire
    {
        flex: 1;
        height: 650px;
        margin-left: 20px;
        padding-left: 20px;
        padding-right: 20px;
        background-color: #f2f2f2;
        min-height: auto;
        width: 90%;
        margin-right: 20px;
    }

    .zone_hebergement
    {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        padding-left: 10px;
        padding-right: 10px;
        flex: 2;
        height: 650px;
        border-radius: 10px;
        margin-top: 50px;
        width: 90%;
    }

    .image1
    {
        background-image: url("small/Cannebiere.jpg");
        background-size: cover;
        background-position: center;
        width: 100%;
        height: 120px;
        border-radius: 15px 15px 0 0;
    }

    .image2
    {
        background-image: url("small/Hotel port.jpg");
        background-size: cover;
        background-position: center;
        width: 100%;
        height: 120px;
        border-radius: 15px 15px 0 0;
    }

    .image3
    {
        background-image: url("small/Les mouettes.jpg");
        background-size: cover;
        background-position: center;
        width: 100%;
        height: 120px;
        border-radius: 15px 15px 0 0;
    }

    .image4
    {
        background-image: url("small/mer.jpg");
        background-size: cover;
        background-position: center;
        width: 100%;
        height: 120px;
        border-radius: 15px 15px 0 0;
    }

    .image5
    {
        background-image: url("small/le panier.jpg");
        background-size: cover;
        background-position: center;
        width: 100%;
        height: 120px;
        border-radius: 15px 15px 0 0;
    }

    .image6
    {
        background-image: url("small/chez amina.jpg");
        background-size: cover;
        background-position: center;
        width: 100%;
        height: 120px;
        border-radius: 15px 15px 0 0;
    }


    .premiere_colonne
    {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    .deuxieme_colonne
    {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;

    }

    .fond_blanc
    {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        height: auto;
        background-color: white;
        padding: 1%;
        border-radius: 20px;
        cursor: pointer;
        margin-bottom: 25px;
        box-shadow: 5px 5px 5px 1px #f2f2f2;
        line-height: 0.5;
    }

    .divetoile2
    {
        display: flex;
        padding: 1% 0 2% 0;
    }

    .image_1_populaire
    {
        background-image: url("small/soleil du matin.jpg");
        background-size: cover;
        background-position: center;
        width: 45%;
        height: 160px;
        border-radius: 15px 0 0 15px;
    }

    .image_2_populaire
    {
        background-image: url("small/coeur de l'eau.jpg");
        background-size: cover;
        background-position: center;
        width: 45%;
        height: 160px;
        border-radius: 15px 0 0 15px;
    }

    .image_3_populaire
    {
        background-image: url("small/bleu et blanc.jpg");
        background-size: cover;
        background-position: center;
        width: 45%;
        height: 160px;
        border-radius: 15px 0 0 15px;
    }

    .fond_blanc_populaire
    {
        display: flex;
        justify-content: center;
        height: auto;
        background-color: white;
        padding: 1% 0 1% 1%;
        border-radius: 20px;
        margin-bottom: 22px;
        cursor: pointer;
        margin-top: 20px;
    }


    .Texte_populaire
    {
        width: 60%;
        padding-left: 5%;
        line-height: 0.8;
    }

    .divetoile
    {
        display: flex;
        margin-top: 35px;
    }

    .divetoile3
    {
        margin-top: 50px;
        display: flex;
    }

    .Activites1
    {
        background-image: url("medium/port.jpg");
        background-size: cover;
        background-position: center;
        width: 100%;
        height: 150px;
        border-radius: 15px 15px 0 0;
    }

    .Activites2
    {
        background-image: url("medium/fort.jpg");
        background-size: cover;
        background-position: center;
        width: 100%;
        height: 150px;
        border-radius: 15px 15px 0 0;
    }



    .Activites3
    {
        background-image: url("medium/frioul.jpg");
        background-size: cover;
        background-position: center;
        width: 100%;
        height: 150px;
        border-radius: 15px 15px 0 0;
    }



    .Activites4
    {
        background-image: url("medium/calanques.jpg");
        background-size: cover;
        background-position: center;
        width: 100%;
        height: 150px;
        border-radius: 15px 15px 0 0;
    }



    .Activites5
    {
        background-image: url("medium/garde.jpg");
        background-size: cover;
        background-position: center;
        width: 100%;
        height: 150px;
        border-radius: 15px 15px 0 0;
    }


    .Activites6
    {
        background-image: url("medium/parc.jpg");
        background-size: cover;
        background-position: center;
        width: 100%;
        height: 150px;
        border-radius: 15px 15px 0 0;
    }

    .activites
    {
        margin-bottom: 20px;
        margin-top: 20px;
    }

    .div_activites
    {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }

    .cube_activites
    {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        border-radius: 15px;
        box-shadow: 5px 5px 5px 1px #f2f2f2;
        cursor: pointer;
        margin-top: 25px;
    }

    .titre_image 
    {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      height: 70px;
      padding-left: 5%;
      width: 95%;
    }


    .div_activites2
    {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
        margin-top: 25px;
    }


    .cube_activites2
    {
        width: 100%;
        border-radius: 15px;
        box-shadow: 5px 5px 5px 1px #f2f2f2;
        cursor: pointer;
        margin-bottom: 25px;
    }

    .cube_activites3
    {

        width: 100%;
        border-radius: 15px;
        box-shadow: 5px 5px 5px 1px #f2f2f2;
        cursor: pointer;
    }

    .main
    {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
        background-color: #f2f2f2;
    }

    .bloclien
    {
        height: 100px;
        margin-left: 7%;
        margin-bottom: 20px;
    }

    .marge
    {
        margin-right: 30%;
    }


    .lien
    {
        display: flex;
        flex-direction: column;
    }
}

                                                            /*********************************************** 
                                                                        VERSION TABLETTE
                                                            **********************************************/


@media screen and (min-width: 767.99px) and (max-width: 1112px)
{

    /*NAVIGATION*/

    .nav
    {
        margin-left: 30%;
    }

    .navversiontab
    {
        margin-right: 10px;
    }

    /*FILTRES*/

    .filtres
    {
        display: flex;
        align-items: center;
        margin-top: 50px;
        margin-bottom: 50px;
        flex-wrap: wrap;
        justify-content: center;
    }

    .filtres2
    {
        flex-wrap: wrap;
        justify-content: center;    
    }


    /*HEBERGEMENTS/POPULAIRE*/

    .divetoile
    {
        display: flex;
    }

    .divetoile2
    {
        display: flex;
        padding: 1% 0 2% 0;
    }

    .divetoile3
    {
        display: flex;
    }

    .section_logement
    {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }

    .zone_populaire
    {
        width: 350px;
        margin-top: 25px;
        margin-right: 43px;
    }

   .column2
    {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 10px;
    }

     .Texte_populaire
    {
        width: 60%;
        padding-left: 5%;
        line-height: 1;
    }

    .premiere_colonne
    {

        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column; 
    }

    .deuxieme_colonne
    {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
    }

    .fond_blanc
    {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        height: auto;
        background-color: white;
        padding: 0.5%;
        border-radius: 20px;
        cursor: pointer;
        line-height: 0.8;
        margin-top: 15px;
    }

    .main2
    {
        width: 100%;
        display: flex;
        justify-content: flex-end;
    }

    .lien2
    {
        width: 150px;
    }

    .lien3
    {
        width: 170px;
    }

    .lien4
    {
        width: 220px;
    }
}


                                                            /*********************************************** 
                                                                  PROPRIETES COMMUNES TABLETTE ET DESKTOP
                                                            **********************************************/


@media screen and (min-width: 767.99px)
{
    /*NAVIGATION*/

    .taillediv
    {
        width: 140px;
    }

    .bhover:hover
    {
        border-top:  1px solid #0065FC;
    }

    /*RECHERCHE/INFO/ICONE/FILTRES*/

     .fct_recherche
    {
        display: flex;
        align-items: center;
        width: 400px;
        border-radius: 10px;
        margin-top: 25px;
    }

    .fondbleu
    {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #0065FC;
    }

    .button
    {
        width: 120px;
        height: 50px;
        color: white;
        cursor: pointer;
        border-radius: 0 10px 10px 0;
    }

    span.icone
    {
        display: none;
    }

    .info
    {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 450px;
        height: 50px;
        margin-top: -20px;
        margin-left: -20px;
        margin-bottom: 20px;
    }

    .icon_info
    {
        border-radius: 25px;
        height: 25px;
        width: 25px;
        display: flex;
        border: 2px solid #f2f2f2;
        justify-content: center;
        align-items: center;
        color: #0065FC;
        margin-bottom: 30px;
        margin-left: 10px;
        margin-top: 10px;
    }

    .texteinfo
    {
        display: flex;
        justify-content: space-around;
        align-items: center;
        line-height: 0%;
        font-family: Raleway;
        font-style: italic;
        margin-bottom: 30px;
        margin-left: 10px;
    }

    .borduregrey
    {
        border: 0.1px solid #f2f2f2;
    }

    .titre_filtre
    {
        margin-right: 30px;
    }

    .filtreTexteIcons
    {
        display: flex;
        justify-content: center;
        align-items: center;
        border: 2px solid #f2f2f2;
        height: 50px;
        border-radius: 30px;
        margin-right: 20px;
    }

    /*HEBERGEMENTS/POPULAIRES*/

    .image1
    {
        background-image: url("small/Cannebiere.jpg");
        background-size: cover;
        background-position: center;
        width: 100%;
        height: 150px;
        border-radius: 15px 15px 0 0;
    }

    .image2
    {
        background-image: url("small/Hotel port.jpg");
        background-size: cover;
        background-position: center;
        width: 100%;
        height: 150px;
        border-radius: 15px 15px 0 0;
    }

    .image3
    {
        background-image: url("small/Les mouettes.jpg");
        background-size: cover;
        background-position: center;
        width: 100%;
        height: 150px;
        border-radius: 15px 15px 0 0;
    }

    .image4
    {
        background-image: url("small/mer.jpg");
        background-size: cover;
        background-position: center;
        width: 100%;
        height: 150px;
        border-radius: 15px 15px 0 0;
    }

    .image5
    {
        background-image: url("small/le panier.jpg");
        background-size: cover;
        background-position: center;
        width: 100%;
        height: 150px;
        border-radius: 15px 15px 0 0;
    }

    .image6
    {
        background-image: url("small/chez amina.jpg");
        background-size: cover;
        background-position: center;
        width: 100%;
        height: 150px;
        border-radius: 15px 15px 0 0;
    }

    .section_logement
    {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    .zone_hebergement
    {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        background-color: #f2f2f2;
        padding-left: 20px;
        padding-right: 20px;
        flex: 2;
        height: 700px;
        margin-right: 20px;
        border-radius: 10px;
    }


    .image_1_populaire
    {
        background-image: url("small/soleil du matin.jpg");
        background-size: cover;
        background-position: center;
        width: 35%;
        height: 160px;
        border-radius: 15px 0 0 15px;
    }

    .image_2_populaire
    {
        background-image: url("small/coeur de l'eau.jpg");
        background-size: cover;
        background-position: center;
        width: 35%;
        height: 160px;
        border-radius: 15px 0 0 15px;
    }

    .image_3_populaire
    {
        background-image: url("small/bleu et blanc.jpg");
        background-size: cover;
        background-position: center;
        width: 35%;
        height: 160px;
        border-radius: 15px 0 0 15px;
    }

    
    .zone_populaire
    {
        flex: 1;
        height: 700px;
        margin-left: 20px;
        border-radius: 10px;
        padding-left: 20px;
        padding-right: 20px;
        background-color: #f2f2f2;
        min-height: auto;
    }
                                                         /*********************************************** 
                                                                            Activites
                                                             **********************************************/


    .activites
    {
        margin-bottom: 20px;
        margin-top: 30px;
    }

    .div_activites
    {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        height: 600px;
    }

    .cube_activites
    {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 23%;
        border-radius: 15px;
        box-shadow: 5px 5px 5px 1px #f2f2f2;
        cursor: pointer;
    }

    .titre_image 
    {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      height: 70px;
      padding-left: 5%;
      width: 95%;
    }


    .div_activites2
    {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 23%;
        height: 600px;
    }


    .cube_activites2
    {
        width: 100%;
        border-radius: 15px;
        box-shadow: 5px 5px 5px 1px #f2f2f2;
        cursor: pointer;
        margin-bottom: 50px;
    }

    .cube_activites3
    {

        width: 100%;
        border-radius: 15px;
        box-shadow: 5px 5px 5px 1px #f2f2f2;
        cursor: pointer;
    }

    .Activites1
    {
        background-image: url("medium/port.jpg");
        background-size: cover;
        background-position: center;
        width: 100%;
        height: 530px;
        border-radius: 15px 15px 0 0;
    }

    .Activites2
    {
        background-image: url("medium/fort.jpg");
        background-size: cover;
        background-position: center;
        width: 100%;
        height: 250px;
        border-radius: 15px 15px 0 0;
    }



    .Activites3
    {
        background-image: url("medium/frioul.jpg");
        background-size: cover;
        background-position: center;
        width: 100%;
        height: 250px;
        border-radius: 15px 15px 0 0;
    }



    .Activites4
    {
        background-image: url("medium/calanques.jpg");
        background-size: cover;
        background-position: center;
        width: 100%;
        height: 530px;
        border-radius: 15px 15px 0 0;
    }



    .Activites5
    {
        background-image: url("medium/garde.jpg");
        background-size: cover;
        background-position: center;
        width: 100%;
        height: 250px;
        border-radius: 15px 15px 0 0;
    }


    .Activites6
    {
        background-image: url("medium/parc.jpg");
        background-size: cover;
        background-position: center;
        width: 100%;
        height: 250px;
        border-radius: 15px 15px 0 0;
    }

                                                                 /******************************************
                                                                        FOOTER 
                                                            ********************************************/

    .main
    {
        margin-top: 120px;
        display: flex;
        justify-content: space-between;
        width: 100%;
        height: 200px;
        background-color: #f2f2f2;
    }

    .bloclien
    {
        height: 100px;
        margin-left: 3%;
        margin-top: 1%;
    }

    .marge
    {
        margin-right: 30%;
    }


    .lien
    {
        display: flex;
        flex-direction: column;
    }

}


                                                            /*********************************************** 
                                                                            VERSION DESKTOP
                                                            **********************************************/



@media screen and (min-width: 1113px)
{
    .filtres
    {
        display: flex;
        align-items: center;
        margin-top: 50px;
        margin-bottom: 50px;
    }

    .divetoile
    {
        margin-top: 25px;
        display: flex;
    }

    .divetoile2
    {
        display: flex;
        padding: 1% 0 2% 0;
    }

    .divetoile3
    {
        margin-top: 40px;
        display: flex;
    }

    .Texte_populaire
    {
        width: 60%;
        padding-left: 5%;
        line-height: 1;
    }

    .premiere_colonne
    {
        margin-bottom: 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;   
    }

    .deuxieme_colonne
    {
        margin-top: 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .fond_blanc
    {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 30%;
        height: auto;
        background-color: white;
        padding: 0.5%;
        border-radius: 20px;
        cursor: pointer;
        line-height: 0.8;
    }
}